# ----------------------------
# Ambiente virtual Python
# ----------------------------
venv/
.env/
__pycache__/
*.pyc
*.pyo
*.pyd

# ----------------------------
# Banco de dados
# ----------------------------
*.db
data/*.db

# ----------------------------
# Logs
# ----------------------------
*.log

# ----------------------------
# Sistema operacional
# ----------------------------
.DS_Store
Thumbs.db

# ----------------------------
# Docker
# ----------------------------
*.tar